<!DOCTYPE html>
<html>
<head>
<style>
p.bad {
  color: red
  background-color: yellow;
}
</style>
</head>
<body>

<h2>Error: Missing Semicolon</h2>

<p class="bad">This is a paragraph.</p>

</body>
</html>